@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Cinzel:wght@400..900&family=Cormorant+Infant:ital,wght@0,300;1,300&family=Gruppo&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Orbitron:wght@400..900&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Orbitron:wght@400..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    background-color: #2d2c2ef5;
    color: #8a70a8;
    font-family: "Cinzel", serif;
    font-weight: 400;
   
    
}

header {
    background-color: #5c5a5e;
    color: #bbacd8;
    font-family: "VT323", monospace;
    padding: 2rem;
    text-align: center;
}
h1 {
    font-size: 4rem;
    text-align: center;
    padding: 0.5rem;
    
}

main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

h2 {
    color:rgb(207, 174, 238);
    font-size: 1rem;
}

input[type="radio"], input[type="checkbox"]  {
    accent-color: rgba(223, 120, 3, 0.74);
}

input[type="text"], input[type="password"], input[type="date"], input[type="email"]{
    width: 50%;
    padding: 0.5rem;
    border: 2.5px solid rgba(223, 120, 3, 0.74);
    outline: none;
    border-radius: 10px;
    background:  rgb(247, 215, 175)
}
input::placeholder {
    color:#ac7f5b;
}

select {
    cursor: pointer;
    background:#8a70a8
}

.img.png {
    width: 25rem;
    border-radius: 40px;

}
.pergunta9 {
    width: 10rem;
    border-radius: 40px;
}

table {
    width: 100%;
    border-collapse: collapse;

}

th {
    background-color:rgb(238, 203, 160);
    color: rgba(37, 3, 70, 0.973);
    padding: 0.7rem;
}
td{
    background-color:rgba(94, 90, 87, 0.911);
    color: rgba(34, 2, 66, 0.973);
    padding: 1rem;
    text-align: center;
}

tfoot td {
    background-color: rgb(151, 144, 163);
    color:rgb(46, 22, 70);
}
    
details {
    background-color: rgb(151, 144, 163);
    color:rgb(46, 22, 70);
    border-radius: 5px;
    padding: 1rem;
}
summary{
    color: rgb(46, 22, 70);
    margin: 0.5rem;
    cursor: pointer;
}

ol {
    margin-left: 3rem;
}
ol li {
    padding: 0.2rem;
}

fieldset {
    background-color: rgb(66, 60, 78);
    color: rgb(184, 161, 209);
    border-radius: 5px;
    padding: 1rem;
}

legend{
     color: rgb(255, 255, 255);
     padding: 0 0.5;
}

textarea{
    outline: none;
    border-radius: 5px;
    border: 2px solid rgba(223, 120, 3, 0.74);
    background-color:rgb(238, 203, 160);
}

button {
    background-color:  rgb(99, 91, 116);
    border: none;
    padding: 0.5rem;
    color: rgb(238, 203, 160);
    border-radius: 5px;
    cursor: pointer;
}
footer {
    background-color: #5c5a5e;
    padding: 2rem;
    text-align: center;
}


.paragrafo-f2 {
    color:#bbacd8;
    
}
.paragrafo-f3 {
    color: #bbacd8;
}

footer a {
    text-decoration: none;
    color:rgb(22, 7, 37)
}